.ui.container {
    margin: 3em;
}

.tail {
    color: gray;
}

.big {
    font-size: 2.5rem;
}

.copyright {
    color: gray;
    font-size: 0.9rem;
    margin-top: 2em;
}

html, body {
    height: 100%;
}

@media only screen and (max-width: 767.98px) {
    .hide-mobile {
        display: none !important;
    }
}
@media only screen and (min-width: 767.98px) {
    .show-mobile {
        display: none !important;
    }
}
